@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Jost&family=Sigmar&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0px;
    display:none;
}
.background{
    width:100%;
    height: 100vh;
}
.container{
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
}
.main-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-content .Logo .jiw{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    padding:10px;
    border: 3px solid white;
    transition:all 0.3s ease-in-out;
}
.main-content .Logo .jiw:hover{
    transform: scale(1.1,1.1);
}
.text{
    margin:10px 0px;
    text-align: center;
}
.text > h1{
    font-family: 'Sigmar', cursive;
    font-size:40px;
    color:rgb(10, 0, 0);
    text-shadow: 3px 3px #ffffff;
}
.all_btn{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.all_btn a{
    cursor:pointer;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    color:black;
    font-size:25px;
    margin-bottom:20px;
    overflow: hidden;
}
.all_btn a:nth-child(1){
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 300px;
    padding:10px;
    background-color:#4267B2;
    border:3px solid #001e5a;
    border-radius: 30px;
    transition: all 0.3s;
    position:relative;
}
.all_btn a:nth-child(1)::before{
    content:'';
    position:absolute;
    left:0;
    width:0;
    border-radius: 50%;
    height: 70px;
    background-color: #005eff9d;
    filter: blur(1px);
    -webkit-filter: blur(8px);
    transition:all 0.3s ease-in-out;
}
.all_btn a:nth-child(1):hover::before{
    width:25%;
}
.all_btn a:nth-child(1) i{
    transition: all 0.3s;
}
.all_btn a:nth-child(1):hover{
    transform: scale(1.1,1.1);
    color:rgb(255, 255, 255);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.53);
}
.all_btn a:nth-child(1):hover i{
    transform: rotate(-40deg) scale(2,2);
    color:rgb(0, 26, 255);
}
.all_btn a:nth-child(2){
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 300px;
    padding:10px;
    background: linear-gradient(90deg, rgba(25, 136, 247, 1) 0%, rgba(247, 25, 136, 1) 100%);
    border:3px solid #580391;
    border-radius: 30px;
    transition: all 0.3s;
}
.all_btn a:nth-child(2) i{
    background: linear-gradient(60deg, rgb(252, 178, 41) 0%, rgba(247, 25, 136, 1) 100%);
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}
.all_btn a:nth-child(2) i{
    transition: all 0.3s;
}
.all_btn a:nth-child(2)::before{
    content:'';
    position:absolute;
    left:0;
    width:0;
    border-radius: 50%;
    height: 100%;
    background-color: #547cffce;
    filter: blur(1px);
    -webkit-filter: blur(8px);
    transition:all 0.3s ease-in-out;
}
.all_btn a:nth-child(2):hover::before{
    width:25%;
}
.all_btn a:nth-child(2):hover{
    transform: scale(1.1,1.1);
    color:white;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.53);
}
.all_btn a:nth-child(2):hover i{
    transform: rotate(40deg) scale(2,2);
    color:black;
}
.all_btn a:nth-child(3){
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 300px;
    padding:10px;
    background-color: #7289DA;
    border:3px solid #85a7f1;
    border-radius: 30px;
    transition: all 0.3s;
}
.all_btn a:nth-child(3) i{
    transition: all 0.3s;
}
.all_btn a:nth-child(3)::before{
    content:'';
    position:absolute;
    left:0;
    width:0;
    border-radius: 50%;
    height: 100%;
    background-color: #69b6ffce;
    filter: blur(1px);
    -webkit-filter: blur(8px);
    transition:all 0.3s ease-in-out;
}
.all_btn a:nth-child(3):hover::before{
    width:25%;
}
.all_btn a:nth-child(3):hover{
    transform: scale(1.1,1.1);
    color:white;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.53);
}
.all_btn a:nth-child(3):hover i{
    transform: rotate(360deg) scale(2,2);
}
.all_btn a:nth-child(4){
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 300px;
    padding:10px;
    background-image: linear-gradient(90deg, rgb(247, 177, 25) 0%, rgba(247, 25, 136, 1) 100%);;
    border:3px solid #d9ff00;
    border-radius: 30px;
    transition: all 0.3s;
}
.all_btn a:nth-child(4) img{
    width: 40px;
    transition: all 0.3s;
}
.all_btn a:nth-child(4):hover{
    transform: scale(1.1,1.1);
    color:white;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.53);
}
.all_btn a:nth-child(4):hover img{
    transform: skew(30deg,10deg) scale(2,2);
    color:black;
}
@media (max-width:400px) 
{
    .main-content .Logo .jiw{
        width: 200px;
        height: 200px;
    }
    .all_btn a{
        font-size:20px;
    }
}